spring:

  datasource:
    url: jdbc:postgresql://${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
