spring:

  datasource:
    url: jdbc:h2:mem:localdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

#  liquibase:
#    contexts: local
#    enabled: false